# macOS system file
.DS_Store
._*

# Editor configuration file
.idea/

# Node.js dependencies
node_modules/

# SvelteKit files
/.svelte-kit/

# Build output
/build/

# NPM file
package-lock.json

# Env file
.env
